[[source]]

url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
pymysql = "*"
pyparsing = "*"
qiniu = "*"
pillow = "*"


[dev-packages]

ipython = "*"
django-debug-toolbar = "*"
coverage = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"
