[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyparsing = "*"
pillow = "*"
mysqlclient = "*"

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
coverage = "*"
white = "*"
black = "*"

[requires]
python_version = "3.6"
