{% extends "base.html" %}
{% block title %}预订客房{% endblock %}
{% block wraptype %}
    <div class="wrap order about">
{% endblock %}
{% block content %}
    <div class="banner">
        <ul>
            <li>
                <img src="{{  hotel.order_background.url }}" >
            </li>
        </ul>
        <div id="hotelDescription">
            <h2>预订</h2>
            <p>
            <form action="/order/done/" method="post">{% csrf_token %}
                <input type="text" name="name" placeholder="请输入你的名字">
                <input type="text" name="phone" placeholder="请输入你的电话号码">
                <input type="text" name="IDcard" placeholder="请输入你的身份证号">
                房型： <select name="roomtype">
                    {% for type in hotel.roomtype_set.all %}
                        <option value="standard">{{ type }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="begin"  placeholder="开始日期，形如2017-03-16">
                <input type="text" name="end"  placeholder="截止日期，形如2017-03-17">
                <input type="submit" value="提交">
            </form>
            </p>
        </div>
    </div>
{% endblock %}
