{% extends "base.html" %}
{% load static %}
{% block title %}房型介绍{% endblock %}
{% block wraptype %}
    <div class="wrap room">
    </div>
{% endblock %}
{% block content %}
    <div class="banner">
    <ul>
        <li>
        <img src = "{% static "pic / key_home_1.jpg" %} ">
        </li>
    </ul>
    </div>
    <div class = "order">
        <a href = "/order"><h2> 预订 </h2></a>
    </div>

    <div id="hotelDescription">
        {% for room in roomInfoList %}
            <article>
                <h3>{{ room.name }}</h3>
                <p>{{ room.description }}</p>
                <p>价格：{{ room.price }} 元/天</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}
