{% extends "base.html" %}
{% block title %}房型介绍{% endblock %}
{% block wraptype %}
    <div class="wrap room">
    </div>
{% endblock %}
{% block content %}
    <div class="banner">
        <ul>
            <li>
                <img src="{{ hotel.image }}">
            </li>
        </ul>
    </div>
    <div class = "order">
        <a href = "/order"><h2> 预订 </h2></a>
    </div>

    <div id="hotelDescription">
        {% for roomtype in roomtypes %}
            <article>
                <h3>{{ roomtype }}</h3>
                <p>{{ roomtype.summary }}</p>
                <p>价格：{{ room.price }} 元/天</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}
